body.darkmode {
  background-color: #000;
}

.darkmode .nav-tabs {
  --bs-nav-tabs-border-color: #211d19;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #161310 #211d19;
  --bs-nav-tabs-link-active-color: #b6afa8;
  --bs-nav-tabs-link-active-bg: #000;
  --bs-nav-tabs-link-active-border-color: #211d19 #211d19 #000;
  border-bottom: 1px solid #211d19;
}
.darkmode .nav {
  --bs-nav-link-color: #f29120;
  --bs-nav-link-hover-color: #f5a735;
  --bs-nav-link-disabled-color: #938a82;
}

.darkmode .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.darkmode .nav-tabs .nav-link {
  background: 0 0;
    background-color: rgba(255, 255, 255, 1);
}
.darkmode .nav-link {
  color: var(--bs-nav-link-color);
}

.darkmode .carousel-control-next, .carousel-control-prev {
  color: #000;
}

.darkmode .card {
  --bs-card-border-color: rgba(255, 255, 255, 0.825);
  --bs-card-cap-bg: rgba(255, 255, 255, 0.97);
  --bs-card-bg: #000;
  --bs-card-border-width: 1px;
  background-color: var(--bs-card-bg);
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.darkmode .card-header {
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.darkmode .card-body {
  color: var(--bs-card-color);
}

.darkmode .text-muted {
  color: #938a82 !important;
}
